header{
    width: 100%;
    margin-top: 2%;
}
header a {
    float: left;
    background-color: #333;
    width: 10%;
    height: 100px;
}
#logo 
{ 
    float: left;
    background-color: #333;
    width: 40%;
    height: 100px;
    
}
#logo h1 { 
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-variant: small-caps;
    
}

#user{
    float: left;
    width: 50%;
    overflow: hidden; 
    background-color: #333;
    height: 100px;

}
#user h3{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 50%;
    margin-top: 8%;
    
}
#user img{
    float :right;
    height: auto;
    width: 80px;
    height: 80px;
    margin: 3%;
}
@media (max-width: 768px) and (min-width: 640px)
{
   #user h3{
    margin-left: 30%;
    margin-top: 8%;
    
}
#user
{
    width: 45%;

}
#user h3{
    margin-left: 30%;
    margin-top: 8%;
    
}
.logoN 
{ 
    width: 20%; 
}
#logo 
{ 
    width: 35%; 
}
}

@media (max-width: 1024px) and (min-width: 768px)
{
#logo 
{ 
    width: 30%; 
}
#user
{
    width: 50%;

}
#user h3{
    margin-left: 30%;
    margin-top: 8%;
    
}
.logoN 
{ 
    width: 20%; 
}
}
@media (max-width: 640px) and (min-width: 360px)
{
    #user h3{
    margin-left: 40%;
    margin-top: 8%;
    
}
#user
{
    width: 100%;
    clear: both;
    height: 100px;

}
.logoN 
{ 
    width: 30%; 
}
#logo 
{ 
    width: 70%;
    text-align: left;
}

}

    
